* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', system-ui, -apple-system, sans-serif;
}

body {
    background: white;
    color: #2D4255;
    padding-bottom: 70px;
}   

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 12px;
    text-align: center;
    background: #C7D9E5;
}

.logo {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px
}

.bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: white;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.nav-item{
    color: #C7D9E5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item.active{
    color: #2D4255;
}

.nav-item.add{
    width: 48px;
    height: 48px;
    margin-top: -10px;
    background: #C7D9E5;
    border-radius: 50%;
    color: white;
}

.phone-container{
  margin: 30px;
}

.back-btn {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #C7D9E5;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.welcome {
  margin-top: 40px;
}

.welcome p {
  color: #777;
  margin-top: 7px;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #e5eef4;
  margin-bottom: 20px;
  font-size: 15px;
}

.password-box {
    position: relative;
}

.password-box input {
    padding-right: 48px; 
}

.password-box .eye {
    position: absolute;
    right: 16px;
    top: 10%;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.7;
}

.login-btn {
  width: 50%;
  padding: 14px;
  background: #2D4255;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

.forgot {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: #2D4255;
  font-size: 14px;
}

.divider {
  text-align: center;
  margin: 30px 0 15px;
  color: #aaa;
  font-size: 13px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social img {
    width: 22px;
    height: 22px;
}

.social:hover {
    background: #e5eef4;
    border-color: #2D4255;
    transform: scale(1.08);
}

.social:hover img {
    filter: brightness(0.85);
}

.register {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.register a {
  color: #2D4255;
  font-weight: bold;
  text-decoration: none;
}

/*Trang 2*/

input[type="date"] {
    color: #2D4255;
}

